<div class="row">
    <div class="col">
        <input type="text" class="form-control mb-2" placeholder="Nombre del restaurante" [(ngModel)]="nombre" (keyup.enter)="agregar()" name="nombre" #nombreForm="ngModel" required>
        <div *ngIf="nombreForm.errors?.required">
            <small>Este campo es requerido </small>
        </div>
    </div>
    <div class="col">
        <input type="text" class="form-control mb-2" placeholder="Ciudad" [(ngModel)]="ciudad" (keyup.enter)="agregar()" name="ciudad" #nombreCiudad="ngModel" required>
        <div *ngIf="nombreCiudad.errors?.required">
            <small>Este campo es requerido </small>
        </div>
    </div>
    <div class="col">
        <button class="btn btn-info" type="submit">agregar</button>
    </div>

</div>